*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* Css Variable */
:root{
    --navbar-height:60px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
body{
    background-color: rgb(43, 43, 45);
}

/* Navigation Bar Logo And Image */
#logo{
     height: 50px;
     margin: 10px 10px;
}

#logo img{
    height: 50px;
    margin: 2px 4px;
}

/* Navigation Bar List Styling */


#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 112%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    
}

#navbar ul li{
    list-style: none;
    font-size: 1.5 rem;
}

#navbar ul li a{
    color: orange;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    background-color: aqua;
    color: black;
}

#work{
    display: flex;
    margin: 22px;
}
#work .box{
    border: 2px solid brown;
    padding: 30px;
    margin: 3px 3px;
    border-radius: 30px;
    background-color: rgb(196, 196, 182);
}
#work .box img{
    height: 200px;
    margin: auto;
    padding: 5px;
    display: block;
}
#work .box p{
    font-family: Arial, Helvetica, sans-serif;
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}
.h-secondary{
    font-size: 2.5rem;
    padding: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

/* Contact Section= */
#contact{
    position: relative;
    height: 300px;
    color: beige;
}
#contact::before{
    content: "";
    position: absolute;
    background-color: rgb(225, 156, 19);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
.adress{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}
.phone{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}
.email{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}